<%= render partial: 'header' %>
<h2> Available Rooms </h2>
<div class="row">
<% @rooms.each do |r| %>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail-index">
    	
			<%= image_tag r.image.url(:medium), class: "image"%>
			<div class="caption">
			<h3><%= r.title %></h3> <br>
				 Rate : <%= r.price %>
			<p><%= link_to "View Details", user_room_path(r.user_id, r.id), class: "btn btn-primary", role: "button" %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
		

      
      
        
        
        












