<div class = "container">
	<h1><%= @new_room.title %></h1>
	<p><%= @new_room.description %></p>
	<p><%= @new_room.price %></p>
	<%= link_to "DELETE", user_room_path(@new_room, current_user.id),class: "btn btn-primary", method: :delete, data: {confirm: "Really delete the post?"} %>
	<%= link_to "EDIT", edit_user_room_path(@new_room.user_id, @new_room.id), :type=>"button", :class=>"btn btn-info btn-lg", data: {toggle: "modal", target: "#myModal"} %>
</div>
<%= render partial: 'form' %>